<div id="navbar">
    <div class="container flex">
        <h1>Browse Products</h1>
        <div class="ml-auto flex gap-x-8 my-auto items-center">
            <a href="#" class="btn btn-primary">View Cart</a>
            <a href="#">My Account</a>
            <a href="#">Quit</a>
        </div>
    </div>
</div>