<div id="navbar">
    <div class="container flex">
        <h1>Dashboard</h1>
        <div class="ml-auto flex gap-x-8 my-auto items-center">
            <a href="#" class="btn btn-primary">Performance</a>
            <a href="#">Manage Employees</a>
            <a href="#">Quit</a>
        </div>
    </div>
</div>