<div id="navbar">
    <div class="container flex">
        <h1><%= nav_title %></h1>
        <div class="ml-auto flex gap-x-8 my-auto items-center">
            <a href="#" class="btn btn-primary">View Cart</a>
            <a href="/customer">Products</a>
            <a href="/customer/details">My Account</a>
            <a href="/logout">Quit</a>
        </div>
    </div>
</div>