<div id="navbar">
    <div class="container flex">
        <h1>Dashboard</h1>
        <div class="ml-auto flex gap-x-8 my-auto items-center">
            <a href="/manager" class="btn btn-primary">Performance</a>
            <a href="/manager/manage-employees">Manage Employees</a>
            <a href="/logout">Quit</a>
        </div>
    </div>
</div>