<div id="navbar">
    <div class="container flex">
        <h1><%= nav_title %></h1>
        <div class="ml-auto flex gap-x-8 my-auto items-center">
            <a href="/login">Quit</a>
        </div>
    </div>
</div>