<%- include('./partials/header.ejs') -%>

<body>
    <div id="login" class="grid w-1/3 container my-36">
        <h1 class="text-3xl font-semibold text-center">Login Options</h1>

        <a href="/login/manager" class="btn btn-primary !py-6 mt-8">Manager Login</a>
        <a href="/login/staff" class="btn btn-primary !py-6 mt-6">Staff Login</a> 
        <a href="/login/customer" class="btn btn-primary !py-6 mt-6">Customer Login</a>
    </div>

    <%- include('./partials/footer.ejs') -%>