<%- include('./partials/header.ejs') %>

<body>
    <form method="post" action="/login-form">
        <h1 class="text-center text-2xl font-semibold">Login</h1>

        <label class="mt-5">Email</label>
        <input type="email" name="email">

        <label class="mt-5">Password</label>
        <input type="password" name="password">

        <button type="submit" name="login" class="btn btn-primary w-full mt-5">LOGIN</button>
    </form>

<%- include('./partials/footer.ejs') %>